@mixin campaign-styles($background, $foreground) {
  background: $background;

  h1,
  p,
  a {
    color: $foreground;
  }
}

#emergency-banner-notification {
  @extend %outdent-to-full-width;
  @extend %contain-floats;

  background-color: $panel-colour;
  border-top: 2px solid white;
  padding: $gutter-half;

  @include media(tablet) {
    padding: $gutter;
  }

  div {
    @extend %site-width-container;
  }

  h1 {
    @include bold-24;
    margin-bottom: 0;
  }

  p {
    @include core-19;
    color: $white;
    margin-top: 0;
    margin-bottom: $gutter-two-thirds;

    @include media(tablet) {
      width: percentage(2/3);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.homepage {
    border: 5px solid $white;
    border-width: 5px 0;

    h1 {
      @include bold-48;
      @include media(tablet) {
        margin-bottom: $gutter-two-thirds;
      }
    }

    p {
      margin: $gutter-two-thirds 0;
    }
  }

  &.notable-death {
    @include campaign-styles($black, $white);
  }

  &.national-emergency {
    @include campaign-styles($red, $white);
  }

  &.local-emergency {
    @include campaign-styles($red, $white);
  }
}
