{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Emergency banner designs
      </h1>

      <ul>
        <li><a href="banner-examples">Banner examples</a></li>
      </ul>

      <h2 class="heading-medium">Homepage examples</h2>

      <ul>
        <li><a href="home-national">Homepage – national emergency</a></li>
        <li><a href="home-local">Homepage – local emergency</a></li>
        <li><a href="home-death">Homepage – notable death</a></li>
      </ul>

      <h2 class="heading-medium">Content page examples</h2>

      <ul>
        <li><a href="content-national">Content page – national emergency</a></li>
        <li><a href="content-local">Content page – local emergency</a></li>
        <li><a href="content-death">Content page – notable death</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
